.major{
    color: green;
}

.minor{
    color:red;
}

.equal{
    color: rgb(218, 218, 218);
}

.cryptoInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.cryptoIcons{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
}

.coinSymbol{
    color: #fff;
}




