@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin box {
  margin: 1rem;
  border-radius: 1rem;
  // background-color: var(--primary-dark);
}

.navBar {
  @include flex-row;
  justify-content: space-around;
}

.user-data ul {
  @include flex-row;
  justify-content: left;
  list-style: none;
  & li {
    margin-right: 5px;
  }
}

.home-container {
  @include flex-row;
  justify-content: space-evenly;
  margin: 10px;
  height: 100%;
}

.home-container_boxLeft {
  width: 70%;
}

.crypto-graphics {
  @include box;
  height: 70%;
}

.about {
  @include box;
  width: 50%;
}

.statistics {
  @include box;
  width: 50%;
}

.home-container_boxRight {
  height: 100%;
  width: 30%;
}

.crypto-calculator {
  @include box;
  height: 200px;
  width: 100%;
}

.home-container_boxLeft--bottom {
  @include flex-row;
}