.titleContainer{
    margin-top: 15%; 
    margin-bottom: 3%;
}

.mainTitle{
    height:100vh;
    background-color: mediumpurple;
}

.cryptos {
    height:100vh;
    background-color: tomato
}

.rocketFeatures{
    height:100vh;
    background-color: rgb(76, 76, 255);
}

.frequencyQuestion{
    height:100vh;
}
