.titleContainer{
    margin-top: 8%; 
    margin-bottom: 2%;
}

.navItems:hover{
    cursor: pointer;
    color: #ffd523;
}

.presentation{
    align-content: space-around;
    height: 110vh;
    display: inline-grid;
}

.register{
    height: 110vh;
    width: 100%;
    display: inline-grid;
    align-content:center;
    /* align-items: center; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #c5c5c5 100%);
    border-radius: 4px;
    color: #272727b3;
}

.cryptos {
    height:110vh;
    width: 100%;
    background-image: linear-gradient(120deg, #121922 0%, #111111c7 100%);
    border-radius: 4px;
}

.rocketFeatures{
    height:110vh;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    
}

.rocketFeaturesTypography{
    color:#fdfbfb;
    letter-spacing: 3px;
    color: #ffd20a;
    padding: 30px;
}

.cryptoIcons{
    width: 20%;
    color: #fdfbfb;
}

.aboutGrid{
    margin-top: 2%;
}

.frequencyQuestion{
    height:110vh;
    margin-top: 2%;
}

.landingPic{
    width: 100%;
    margin-top: 5%;
    border-radius: 4px;
    transition: all .2s linear;
	transform: scale(1);
    -webkit-transform: scale(1);
	-webkit-transition: .2s linear;
    box-shadow: 2px 2px 12px 1px #272727b3;
}

.landingPic:hover{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow:2px 2px 5px 4px #272727b3;
}

.toTopButton{
    right: 1%;
    bottom: 1%;
    position: fixed;
    color:#fdfbfb;
    background-color: #ffd20a;
    border-radius: 3px;
}

.toTopButton:hover{
    background-color: #ffe988;
    color: #272727b3; 
}
