    @mixin flex-row {
      display: flex;
      flex-direction: row;
    }
    
    @mixin flex-column {
      display: flex;
      flex-direction: column;
    }
    
    .user-data ul {
      @include flex-row;
      justify-content: left;
      list-style: none;
      & li {
        margin-right: 5px;
      }
    }